{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "deno run -A scripts/build_npm.ts ${nextRelease.version}",
        "publish": "cd ./npm; npm publish"
      }
    ],
    ["@semantic-release/git",
      {
        "message": "chore(release): ${nextRelease.version} \n\n${nextRelease.notes}"
      }
    ]
  ]
}
